{% extends "MercadoFresco/padre.html" %}

{% load static %}


{% block contenidoQueCambia %}



<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Sobre Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img src="{% static 'MercadoFresco/assets/img/portfolio/fotomia.jpg' %}" class="rounded-circle mb-3" width="150px">
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola, mi nombre es Diego, soy de Uruguay. Éste es el primer curso sobre programación que hago, antes había aprendido algo por mi cuenta pero quería profundizar un poco más. Siempre me interesó el área de las ciencias y tecnología, tengo cursado parte de la carrera de Ing. Química en la UdelaR y decidí cambiar de orientación. Gracias por visitar mi proyecto.</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    
    


{% endblock %}